@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-lg text-slate-700;
  }

  @media print {
    /* Hide everything */
    body * {
      visibility: hidden;
    }

    /* Show only the target section */
    #print-section,
    #print-section * {
      visibility: visible;
    }

    /* Position the section at the top-left */
    #print-section {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

@layer components {
  h1 {
    @apply text-3xl font-black text-slate-900;
  }

  h2 {
    @apply text-2xl font-bold text-slate-900;
  }

  h3 {
    @apply text-xl font-bold;
  }

  a {
    @apply underline text-cyan-600 hover:text-cyan-700 active:text-cyan-800 transition-colors;
  }

  summary > * {
    @apply inline;
  }

  details > summary {
    @apply cursor-pointer;
  }

  thead {
    @apply bg-slate-50;
  }

  th,
  td {
    @apply p-2 border border-slate-200;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }

  .nav-link {
    @apply p-2 rounded-md border-slate-700 flex items-center gap-2 no-underline text-inherit hover:text-inherit active:text-inherit transition-colors;
  }

  .nav-link.selected {
    @apply bg-slate-100;
  }

  .nav-link.normal {
    @apply hover:bg-slate-50 active:bg-slate-100;
  }

  .nav-link:not(.selected) {
  }

  .react-checkbox-tree {
    @apply !text-lg;
  }

  .react-checkbox-tree label {
    @apply hover:!bg-cyan-50 rounded-md p-0.5;
  }
}

@layer utilities {
  .card {
    @apply flex flex-col items-center p-4 gap-4 no-underline bg-slate-50 hover:bg-slate-100 rounded-xl text-center text-inherit hover:text-inherit transition-colors border-2 border-slate-200;
  }

  .main {
    @apply max-w-screen-lg mx-auto px-2 py-4;
  }

  .card-container {
    @apply flex flex-wrap gap-4;
  }

  ul.card-container > li {
    @apply w-[calc((100%-3rem)/4)] max-lg:w-[calc((100%-2rem)/3)] max-md:w-[calc((100%-1rem)/2)] max-[512px]:w-full;
  }

  .bottom-center {
    @apply absolute top-full left-1/2 transform -translate-x-1/2;
  }
}
