@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-lg text-slate-700;
  }

  .print-only {
    @apply hidden;
  }

  @media print {
    /* Hide everything */
    body * {
      visibility: hidden;
    }

    /* Show only the target section */
    .print-section,
    .print-section * {
      visibility: visible;
    }

    /* Position the section at the top-left */
    .print-section {
      position: absolute;
      left: 0;
      top: 0;
      font-family: "Inter", sans-serif;
    }

    .print-only {
      @apply block;
    }

    @page {
      margin: 1rem;
    }
  }

  @keyframes shimmer {
    0% {
      left: -16px;
    }
    100% {
      left: 200%;
    }
  }
}

@layer components {
  .h1 {
    @apply text-3xl font-black text-slate-900;
  }

  h2 {
    @apply text-2xl font-extrabold text-slate-900;
  }

  h3 {
    @apply text-xl font-bold text-slate-800;
  }

  .link {
    @apply underline text-cyan-600 hover:text-cyan-700 active:text-cyan-800 transition-colors;
  }

  summary > * {
    @apply inline;
  }

  details > summary {
    @apply cursor-pointer;
  }

  thead {
    @apply bg-slate-50;
  }

  th,
  td {
    @apply p-2 border border-slate-200;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }

  .radio {
    @apply rounded-md transition-colors;
  }

  .radio.selected {
    @apply bg-slate-100;
  }

  .radio.normal {
    @apply hover:bg-slate-50 active:bg-slate-100;
  }

  .react-checkbox-tree {
    @apply !text-lg;
  }

  .react-checkbox-tree label {
    @apply hover:!bg-cyan-50 rounded-md p-0.5;
  }
}

@layer utilities {
  .col {
    @apply flex flex-col gap-4;
  }

  .card {
    @apply flex flex-col items-center p-4 gap-4 rounded-xl text-center superficial;
  }

  .superficial {
    @apply shadow-md hover:shadow-lg transition-shadow;
  }

  .floating {
    @apply superficial p-2 rounded-xl bg-white;
  }

  .main {
    @apply max-w-screen-lg mx-auto px-2 py-4;
  }

  .card-container {
    @apply flex flex-wrap gap-4;
  }

  ul.card-container > li {
    @apply w-[calc((100%-3rem)/4)] max-lg:w-[calc((100%-2rem)/3)] max-md:w-[calc((100%-1rem)/2)] max-[512px]:w-full;
  }

  .bottom-center {
    @apply absolute top-full left-1/2 transform -translate-x-1/2;
  }
}
