@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-lg text-slate-700 dark:text-slate-200 bg-white dark:bg-slate-900;
  }

  .print-only {
    @apply hidden;
  }

  @media print {
    /* Hide everything */
    body * {
      visibility: hidden;
    }

    /* Show only the target section */
    .print-section,
    .print-section * {
      visibility: visible;
    }

    /* Position the section at the top-left */
    .print-section {
      position: absolute;
      left: 0;
      top: 0;
      font-family: "Inter", sans-serif;
    }

    .print-only {
      @apply block;
    }

    @page {
      margin: 1rem;
    }
  }

  select,
  input,
  textarea {
    @apply bg-transparent;
  }
}

@layer components {
  .h1 {
    @apply text-3xl font-black text-slate-900 dark:text-slate-100;
  }

  h2 {
    @apply text-2xl font-extrabold text-slate-900 dark:text-slate-100;
  }

  h3 {
    @apply text-xl font-bold text-slate-800 dark:text-slate-200;
  }

  .link {
    @apply underline text-cyan-600 hover:text-cyan-700 active:text-cyan-800
           dark:text-cyan-400 dark:hover:text-cyan-300 dark:active:text-cyan-200 transition-colors;
  }

  summary > * {
    @apply inline;
  }

  details > summary {
    @apply cursor-pointer;
  }

  thead {
    @apply bg-slate-50;
  }

  th,
  td {
    @apply p-2 border border-slate-200;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }

  .radio {
    @apply rounded-md transition-colors;
  }

  .radio.selected {
    @apply bg-slate-100 dark:bg-slate-500;
  }

  .radio.normal {
    @apply hover:bg-slate-50 active:bg-slate-100 
         dark:hover:bg-slate-600 dark:active:bg-slate-500;
  }

  .react-checkbox-tree label {
    @apply hover:!bg-slate-50 active:!bg-slate-100 
         dark:hover:!bg-slate-600 dark:active:!bg-slate-500 rounded-md;
  }

  .caption {
    @apply text-sm text-slate-600 dark:text-slate-300;
  }
}

@layer utilities {
  .col {
    @apply flex flex-col gap-4;
  }

  .card {
    @apply col items-center p-4 rounded-xl text-center clickable;
  }

  .layer-1 {
    @apply bg-white shadow-md dark:shadow-none dark:bg-slate-800;
  }
  .layer-1.clickable {
    @apply hover:shadow-lg dark:hover:shadow-none dark:hover:bg-slate-700 transition-shadow dark:transition-colors;
  }
  .layer-1-form {
    @apply p-2 layer-1 rounded-xl;
  }

  .layer-2 {
    @apply bg-white shadow-lg dark:shadow-none dark:bg-slate-700;
  }
  .layer-2.clickable {
    @apply hover:shadow-xl dark:hover:shadow-none dark:hover:bg-slate-600 transition-shadow dark:transition-colors;
  }

  .main {
    @apply max-w-screen-lg mx-auto px-2 py-4;
  }

  .card-container {
    @apply flex flex-wrap gap-4;
  }

  ul.card-container > li {
    @apply w-[calc((100%-3rem)/4)] max-lg:w-[calc((100%-2rem)/3)] max-md:w-[calc((100%-1rem)/2)] max-[512px]:w-full;
  }

  .bottom-center {
    @apply absolute top-full left-1/2 transform -translate-x-1/2;
  }
}
